<a href="https://colab.research.google.com/github/yashvyas1405/SQLZOO-Select-within-Select/blob/main/Select_within_Select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLZOO

**1.First of all, you can put a nested SELECT within the WHERE clause with comparison operators or the IN, NOT IN, ANY, or ALL operators.**


**2.Furthermore, subqueries are not limited to use in the WHERE clause. For example, you can also use a nested query in the FROM clause. In the next example, our subquery will return, not a single value, but a table.**

**3.You can include a subquery:
In the WHERE clause, to filter data.
In the FROM clause, to specify a new table.
In the SELECT clause, to specify a certain column.
In the HAVING clause, as a group selector.**

**4.Subqueries are often computationally inefficient. Thus, I recommend avoiding nested queries when other options are available (e.g. JOINs).**

List each country name where the population is larger than that of 'Russia'.

In [ ]:
SELECT name FROM world
WHERE population >
(SELECT population FROM world
WHERE name='Russia')

Show the countries in Europe with a per capita GDP greater than 'United Kingdom'.

In [ ]:
select name
from world
where continent = 'Europe' and gdp/population > 
      (select gdp/population
       from world
       where name = 'United Kingdom')

List the name and continent of countries in the continents containing either Argentina or Australia. Order by name of the country.

In [ ]:
select name, continent
from world
where continent in (select continent
                    from world
                    where name in ('Argentina', 'Australia'))
order by name

Which country has a population that is more than Canada but less than Poland? Show the name and the population.

In [ ]:
select name, population
from world
where population > (select name
                    from world
                    where name = 'Canada')
and population < (select name
                  from world
                  where name = 'Poland')

Show the name and the population of each country in Europe. Show the population as a percentage of the population of Germany.

In [ ]:
select name, concat(round(population/(select population from world where name = 'Germany')*100, 0), '%') as percentage
from world
where continent = 'Europe' #it is not mandatory to apply select only in where. Here we were required to do population of countries/ population of Germany.
                           #Therefore we applied it then and there only.

Which countries have a GDP greater than **every country (ie; ALL)** in Europe? [Give the name only.] (Some countries may have NULL gdp values)

In [ ]:
select name
from world
where gdp > all(select gdp
from world
where continent = 'Europe' and gdp > 0) # Here gdp may be null. Therfore we use gdp>0.

Find the largest country (by area) in each continent, show the continent, the name and the area:

In [ ]:
##Correlated Subqueries
SELECT continent, name, area FROM world x
WHERE area >= ALL
(SELECT area FROM world y
WHERE y.continent=x.continent
AND area>0) #We can refer to values in the outer SELECT within the inner SELECT. We can name the tables so that we can tell the difference between the inner
            #and outer versions.

##select the country details from world where the population is greater than or equal to the population of all countries **where the continent is the same**‚Äù.

List each continent and the name of the country that comes first alphabetically.

In [ ]:
select continent, name
from world x
where name <= all(select name from world y
where x.continent = y.continent)

Find the continents where all countries have a population <= 25000000. Then find the names of the countries associated with these continents. Show name, continent and population.

In [ ]:
select name, continent, population
from world x
where 25000000 >= all(select population from world y 
where x.continent = y.continent)

Some countries have populations more than three times that of any of their neighbours (in the same continent). Give the countries and continents.

In [ ]:
select name, continent
from world x
where population > all(select 3*(population) from world y
where x.continent = y.continent and y.name!=x.name)         # same name should not repeat